<div *ngIf="(book$ | async)">
  <section class="layout-container">
    <h1>{{ (book$ | async).title }}</h1>

    <button mat-stroked-button color="primary" [routerLink]="'/book/' + (book$ | async).id + '/edit'" class="edit">
      Редагувати
    </button>

    <button mat-stroked-button color="primary" (click)="removeBook()">
      Видалити книгу
    </button>

   <div class="full-page">
     <div class="information">
       <div><span>Автор: </span>  {{ (book$ | async).author }}</div>
       <div class="pages"><span>Кількість сторінок: </span> {{ (book$ | async).pagesQuantity }}</div>
       <div class="date">
         <div class="create"><span>Дата створення: </span> {{ (book$ | async).createdOn }}</div>
         <div class="update"><span>Дата оновлення: </span> {{ (book$ | async).updatedAt }}</div>
       </div>
     </div>

     <div class="description">
       <h3>Огляд книжки:</h3>
       <p>{{ (book$ | async).description }}</p>
     </div>
   </div>

  </section>
</div>