<div *ngIf="(book$ | async)">
  <section>
    <h2>{{ (book$ | async).title }}</h2>

    <a [routerLink]="'/book/' + (book$ | async).id + '/edit'" class="edit">
      edit
    </a>

    <a (click)="removeBook()">
      Видалити книгу
    </a>

    <div class="date">
      <div>Дата створення {{ (book$ | async).createdOn }}</div>
      <div>Дата оновлення {{ (book$ | async).updatedAt }}</div>
    </div>
    <div><span>Автор: </span>  {{ (book$ | async).author }}</div>
    <div> Кількість сторінок {{ (book$ | async).pagesQuantity }}</div>
    <div> Опис {{ (book$ | async).description }}</div>
  </section>
</div>