<div *ngIf="book">
  <section class="layout-container">
    <h1>{{ book.title }}</h1>

    <button mat-stroked-button color="primary" [routerLink]="['/book/' + book.id + '/edit']" class="edit">
      Редагувати
    </button>

    <button mat-stroked-button color="primary" (click)="removeBook()">
      Видалити книгу
    </button>

   <div class="full-page">
     <div class="information">
       <div><span>Автор: </span>  {{ book.author }}</div>
       <div class="pages"><span>Кількість сторінок: </span> {{ book.pagesQuantity }}</div>
       <div class="date">
         <div class="create"><span>Дата створення: </span> {{ book.createdOn }}</div>
         <div class="update"><span>Дата оновлення: </span> {{ book.updatedAt }}</div>
       </div>
     </div>

     <div class="description">
       <h3>Огляд книжки:</h3>
       <p>{{ book.description }}</p>
     </div>
   </div>
  </section>
</div>
